<main class="py-6 bg-surface-secondary" >
  <div class="container-fluid">
    <div class="container">
      <div class="row">

        <!-- Earnings (Monthly) Card Example -->

        <div class="col-sm-6 col-12 text-sm-end">
          <div  class="mx-n1">  <a routerLink="/user/addReclamationse" class="btn d-inline-flex btn-sm btn-primary mx-1"> <span class=" pe-2"> <i class="bi bi-plus"></i> </span> <span>Créer Ticket  </span> </a> </div>
        </div>
        <div class="row g-6 mb-6">


          <div class="col-xl-3 col-sm-6 col-12">
            <div class="card shadow border-0">
                <div class="card-body">
                    <div class="row">
                        <div class="col"> <button type="button" routerLink="/user/ReclamationseAtt" class="btn btn-outline-primary ">En Attente </button> <span class="h3 font-bold mb-0"></span> </div>
                        <div class="col-auto">

                        </div>
                    </div>
                    <div class="mt-2 mb-0 text-sm"> <span class="badge badge-pill bg-soft-success text-success me-2"></span> <span class="text-nowrap text-xs text-muted"></span> </div>
                </div>
            </div>
          </div>
          <div class="col-xl-3 col-sm-6 col-12">
          <div class="card shadow border-0">
              <div class="card-body">
                  <div class="row">
                    <div class="col"> <button type="button" routerLink="/user/ReclamationseApprouver" class="btn btn-outline-primary "> Approuver</button> <span class="h3 font-bold mb-0"></span> </div>
                      <div class="col-auto">

                      </div>
                  </div>
                  <div class="mt-2 mb-0 text-sm"> <span class="badge badge-pill bg-soft-success text-success me-2"></span> <span class="text-nowrap text-xs text-muted"></span> </div>
              </div>
          </div>
          </div>

          <div class="col-xl-3 col-sm-6 col-12">
            <div class="card shadow border-0">
                <div class="card-body">
                    <div class="row">
                      <div class="col"> <button type="button" routerLink="/user/ReclamationseRef" class="btn btn-outline-primary "> Refuser</button> <span class="h3 font-bold mb-0"></span> </div>
                        <div class="col-auto">

                        </div>
                    </div>
                    <div class="mt-2 mb-0 text-sm"> <span class="badge badge-pill bg-soft-success text-success me-2"></span> <span class="text-nowrap text-xs text-muted"></span> </div>
                </div>
            </div>
          </div>


        </div>

    </div>


    </div>
    <section  class="container" >
      <h1>Reclamations</h1>
        <div class="col-sm" *ngFor="let item of dataArray">
          <article class="card fl-left">
            <section class="date">
              <time datetime="23th feb">
                <span></span><span></span>
              </time>
            </section>
            <section class="card-cont">
              <span>Matricule Demandeur :{{item.matricule_demandeur}} </span> <br>
              <span>Nom Du Direction :{{item.direction_demandeur}} </span> <br>
              <span>Matricule Responsable :{{item.matricule_responsable}} </span>
              <div class="even-date">

               <time>
                 <span>Besoin : {{item.besoin}}</span>
               </time>
              </div>
              <a style="background-color: rgb(186, 210, 30);">{{item.etat}}</a>
            </section>
          </article>
        </div>
    </section>
  </div>
</main>
