@import url('https://fonts.googleapis.com/css2?family=Mukta:wght@500&display=swap');
* {
  font-family: 'Mukta', sans-serif;
}
body {
  margin: 0;
  padding: 0;
  background-color: #eeeeee;
  width: 100%;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #131e29;
}
button {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 20px;
  border-radius: 10px;
  background-color: #000c1f;
  border: none;
  outline: none;
  cursor: pointer;
  transition: 0.1s linear;
  transform: translateY(0);
  overflow: hidden;
}
button:active {
  transform: translateY(5px);
}
.text {
  font-size: 1.3rem;
  color: #037ffc;
  z-index: 100;
}
.icon {
  margin-left: 10px;
  width: 20px;
  height: 20px;
}
.icon svg {
  width: 100%;
  height: 100%;
  stroke: #037ffc;
  fill: #000c1f;
  stroke-width: 38;
  stroke-linejoin: round;
  stroke-miterlimit: 10;
}
.animate-out {
  animation: send 1.5s ease-out forwards;
  -webkit-animation: send 1.5s ease-out forwards;
}
.animate-back {
  animation: back 1.5s ease-out forwards;
  -webkit-animation: back 1.5s ease-out forwards;
}
@keyframes send {
  0% {
    transform: translateX(0) rotate(0deg);
  }
  10% {
    transform: translateX(0) rotate(45deg);
  }
  35%, 40% {
    transform: translateX(-10px) rotate(45deg);
  }
  100% {
    transform: translateX(300%) rotate(45deg);
  }
}
@keyframes back {
  0% {
    transform: translateX(-500%) rotate(45deg);
  }
  50% {
    transform: translateX(10px) rotate(45deg);
  }
  100% {
    transform: translateX(0) rotate(0);
  }
}
