
<main class="py-6 bg-surface-secondary" >
  <div class="container-fluid">
    <section  class="container" >
      <h1>Reclamations</h1>
        <div class="col-sm" *ngFor="let item of dataArray;index as i">
          <article class="card fl-left">

            
            <section class="card-cont">
              <span>Matricule Demandeur :{{item.matricule_demandeur}} </span> <br>
              <span>Nom Du Département :{{item.direction_demandeur}} </span> <br>

              <div >
                <button  type="button" class="btn myEditBtn"  (click)="getdata(item._id,i)"   data-toggle="modal" data-target="#exampleModal">
                  <i style="color: blue;" class="fas fa-check"></i>
                </button>
                <button  type="button" class="btn myEditBtn2 "  (click)="getdata(item._id,i)"   data-toggle="modal" data-target="#exampleModal2">
                  <i  style="color: red;" class="bi bi-trash"></i>
                </button>
              </div>

              <span>Matricule Chef service :{{item.matricule_responsable}} </span>
              <div class="even-date">

               <time>
                 <span>Besoin : {{item.besoin}}</span>
               </time>
              </div>
              <a style="background-color: #BAD21E;">{{item.etat}}</a>
            </section>
          </article>
        </div>
    </section>
  </div>
</main>




<!-- 2 -->
<div id="exampleModal" class="modal fade" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-confirm">
    <div class="modal-content">
      <div class="modal-header flex-column">
        <div class="icon-box" style="border-color:#60C7C1">
          <i class="large material-icons" style="color:#60C7C1">check</i>

        </div>
        <h4 class="modal-title w-100">Êtes-vous sûr?</h4>
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
      </div>
      <div class="modal-body">


      </div>

      <div class="modal-footer justify-content-center" >
        <button type="button"  class="btn btn-secondary" data-dismiss="modal">Annuler</button>
        <form #ff="ngForm"  (ngSubmit)="approbationDmdFour(ff)" >






          <button class="btn btn-success">ACCEPTER</button>
        </form>

        <div class="alert alert-success" *ngIf="msgSucc" style="width: 50%;">

          {{msgSucc}}
        </div>

      </div>
    </div>
</div>
</div>
<!-- del -->

<div id="exampleModal2" class="modal fade" tabindex="-1" aria-labelledby="exampleModalLabel2" aria-hidden="true">
  <div class="modal-dialog modal-confirm">
    <div class="modal-content">
      <div class="modal-header flex-column">
        <div class="icon-box">
          <i class="material-icons">&#xE5CD;</i>
        </div>
        <h4 class="modal-title w-100">Êtes-vous sûr?</h4>
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
      </div>
      <div class="modal-body">


      </div>

      <div class="modal-footer justify-content-center" >
        <button type="button"  class="btn btn-secondary" data-dismiss="modal">Annuler</button>
        <form #ff="ngForm"  (ngSubmit)="refusDmdFour(ff)" >






          <button class="btn btn-danger"   style="color: white;">Refuser</button>
        </form>

        <div class="alert alert-success" *ngIf="msgSuccc" style="width: 50%;">

          {{msgSuccc}}
        </div>

      </div>
    </div>
</div>
</div>
